@charset "UTF-8";

/*---------------------------------------
    Reset
---------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------------------------
    Base
---------------------------------------*/

.container {
    max-width: 970px;
}

.container_wrap {
    width: 100%;
    border-top: 2px solid #e76fa3;
}

.clear {
    clear: both;
}

/*---------------------------------------
    header
---------------------------------------*/
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header_logo {
    width: 40%;
    max-width: 500px;
}

.header_logo a {
    display: block;
}

.header_tel {
    width: 50%;
    text-align: right;
    color: #e76fa3;
}

.header_tel a {
    padding: 10px 25px;
    border: 1px solid #e76fa3;
    color: #e76fa3;
    text-decoration: none;
}

.header_nav {
    width: 100%;
    padding: 15px 0 10px;
}

.header_nav > ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header_nav > ul > li {
    position: relative;
    width: 16.5%;
    text-align: center;
    border-right: 1px solid #e76fa3;
}

.header_nav > ul > li:first-child {
    border-left: 1px solid #e76fa3;
}

.header_nav li a {
    position: relative;
    display: inline-block;
    color: #e76fa3;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}

.header_nav li a::after {
    position: absolute;
    bottom: -6px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #e76fa3;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}

.header_nav > ul > li:nth-child(2) > a::after {
    display: none;
}

.header_nav li a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

.header_nav_child {
    position: absolute;
    top: 15px;
    left: 0;
    display: none;
    width: 100%;
    padding-top: 10px;
}

.header_nav_child li {
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #e76fa3;
}

.sp_toggle {
    display: none;
}

@media (max-width: 767px) {

    .sp_none {
        display: none;
    }

    .container_wrap {
        padding-top: 65px;
    }

    .header_wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 1;
    }

    .header {
        padding-bottom: 10px;
    }

    .header_logo {
        width: 60%;
        height: 45px;
    }

    .header_logo img {
        width: auto;
        height: 45px;
    }

    .header_tel {
       display: none;
    }

    .header_nav {
        position: absolute;
        top: 63px;
        left: 0;
        display: none;
        width: 100%;
        padding: 0;
        background: rgba(255, 255, 255, 0.9);
    }

    .header_nav > ul {
        display: block;
        padding: 15px;
    }

    .header_nav > ul > li {
        width: 100%;
        border-right: none;
    }

    .header_nav > ul > li > a {
        padding: 15px 0;
        font-size: 16px;
    }

    .header_nav > ul > li:first-child {
        border-left: none;
    }

    /*トグルボタンのスタイルを指定*/
    .sp_toggle {
        display: block;
        position: fixed;
        right: 13px;
        top: 12px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        z-index: 3;
    }

    .sp_toggle span {
        display: block;
        position: absolute;
        width: 30px;
        border-bottom: solid 3px #e76fa3;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
        left: 6px;
    }

    .sp_toggle span:nth-child(1) {
        top: 9px;
    }

    .sp_toggle span:nth-child(2) {
        top: 18px;
    }

    .sp_toggle span:nth-child(3) {
        top: 27px;
    }

    /* 最初のspanをマイナス45度に */
    .sp_toggle.active span:nth-child(1) {
        top: 18px;
        left: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    /* 2番目と3番目のspanを45度に */
    .sp_toggle.active span:nth-child(2),
    .sp_toggle.active span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

/*---------------------------------------
    footer
---------------------------------------*/
.footer_wrap {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #e76fa3;
}

.footer {
    display: flex;
    flex-wrap: wrap;
}

.footer_nav a {
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
}

.copyright {
    display: inline-block;
    width: 100%;
    padding: 25px 0 20px;
    color: #5877a2;
    font-size: 80%;
    clear: both;
}

@media (max-width: 767px) {

    .footer_banner a {
        display: block;
        margin: 10px auto 0;
    }
}

/*---------------------------------------
    block menu
---------------------------------------*/
.block_menu ul {
    padding: 50px 7px;
}

.block_menu ul li {
    padding: 7px;
}

.block_menu ul li img {
    width: 100%;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.block_menu ul li img:hover {
    -webkit-box-shadow: 0 10px 10px -10px #777;
    -moz-box-shadow: 0 10px 10px -10px #777;
    box-shadow: 0 10px 10px -10px #777;
}

/*---------------------------------------
    index
---------------------------------------*/
.top_main img {
    width: 100%;
}

.top_company_news {
    padding-top: 100px;
    padding-bottom: 40px;
}

.top_company_news h2 {
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

.top_company_news p {
    padding-bottom: 30px;
    font-size: 14px;
    text-align: justify;
    line-height: 2;
}

.top_company_news small span {
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
}

.top_news_wrap {
    margin-top: 50px;
}

.top_news_wrap h2 {
    margin-bottom: 10px;
}

.top_news_wrap h2 span {
    color: #e76fa3;
}

.top_news {
    padding: 10px;
    border: 1px solid #e76fa3;
}

.news_link {
    padding: 10px;
    border: 1px solid #e76fa3;
    text-align: center;
}

.news_link a {
    display: block;
    color: #e76fa3;
}

.top_news_wrap .news_content {
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
    padding: 3px 0;
}

.top_news_wrap .news_content time {
    font-size: 90%;
}

@media (max-width: 767px) {
    .top_company_news {
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .top_company_news h2 {
        padding-bottom: 30px;
    }
}

/*---------------------------------------
    news
---------------------------------------*/
.news_list_wrap h2 {
    margin: 20px auto 40px;
    padding: 10px;
    border-bottom: 1px solid #e76fa3;
    text-align: center;
}

.news_list_wrap li {
    list-style: none;
}

.news_list {
    margin-bottom: 20px;
}

.news_list a {
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px dashed #e76fa3;
    color: #333;
}

.news_list a dl {
    display: flex;
    justify-content: space-between;
}

.news_list a dl dt {
    width: 20%;
}

.news_list a dl dd {
    width: 80%;
    line-height: 1.5;
}

.news_detail h2 {
    margin: 20px auto 40px;
    padding: 10px;
    border-bottom: 1px dashed #e76fa3;
}

.news_detail p {
    line-height: 2;
}

.news_detail img {
    max-width: 100%;
}

.news_image img {
    width: 100%;
    height: auto;
}

.news_fb {
    margin: 10px 0;
}

.news_back {
    padding: 70px 0 40px;
    text-align: center;
}

.news_back a {
    color: #666;
}

@media (max-width: 767px) {
    .news_list a dl {
        display: block;
    }

    .news_list a dl dt,
    .news_list a dl dd {
        width: 100%;
    }

    .news_list a dl dt {
        padding-bottom: 5px;
    }
}

/*---------------------------------------
    home_nursing
---------------------------------------*/
.home_nursing_main {
    background: url("./img/home_nursing/home_nursing_main.png") center center / cover no-repeat;
    overflow: hidden;
}

.home_nursing_main h2 {
    margin: 50px auto;
    text-align: center;
}

.home_nursing_main dl {
    width: 40%;
    margin: 30px auto;
    padding: 50px 40px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 100%;
    line-height: 2;
}

.home_nursing_main dt {
    margin-bottom: 30px;
    text-align: center;
}

.home_nursing_contents_wrap {
    width: 970px;
    margin: 50px auto 0;
}

.home_nursing_contents_wrap h3 {
    color: #b9659a;
}

.home_nursing_title01 {
    padding: 10px 0;
    border-bottom: 1px solid #b9659a;
    text-align: center;
}

.home_nursing_contents01 {
    margin-bottom: 50px;
    overflow: hidden;
}

.home_nursing_contents01 p {
    padding: 20px 10px;
    font-size: 90%;
    line-height: 1.5;
    clear: both;
}

.home_nursing_contents01 figure img {
    width: 90%;
}

.home_nursing_contents01 ol {
    margin: 30px 0;
}

.home_nursing_contents01 ol li {
    margin: 10px 0;
    font-size: 90%;
}

.home_nursing_contents02 {
    clear: both;
}

.home_nursing_contents02 h3,
.home_nursing_contents03 h3 {
    width: 95%;
    margin: 0 auto 30px;
    padding: 10px;
    border: 1px solid #b9659a;
    text-align: center;
}

.home_nursing_contents02 p {
    width: 95%;
    margin: 0 auto 50px;
}

.home_nursing_contents02 dl {
    width: 95%;
    margin: 0 auto;
}

.home_nursing_contents02 dt {
    margin-bottom: 10px;
    color: #b9659a;
}

.home_nursing_contents02 dd {
    margin-bottom: 30px;
}

.home_nursing_contents03 figure {
    width: 95%;
    margin: 0 auto 40px;
}

.home_nursing_contents03 figure img {
    width: 100%;
}

.home_nursing_contents03 p {
    width: 95%;
    margin: 0 auto;
    font-size: 90%;
    line-height: 1.7;
}

.service_about {
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #b9659a;
    color: #b9659a;
    font-size: 90%;
}

.service_about h4 {
    width: 40%;
    margin: 0 auto 10px;
    padding: 8px;
    border: 1px solid #b9659a;
    text-align: center;
}

.service_about tr {
    display: inline-block;
    margin-top: 5px;
}

.service_about th {
    width: 90px;
    height: 40px;
    border: 1px solid #b9659a;
    text-align: center;
    line-height: 3;
}

.service_about td {
    padding-left: 10px;
}

.service_about td span {
    display: block;
    margin-top: 5px;
    font-size: 70%;
}

.sumire_communication {
    clear: both;
    padding-top: 50px;
    margin-bottom: 50px;
}

.sumire_communication h3 {
    margin-bottom: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid #b9659a;
    text-align: center;
}

.sumire_communication p {
    margin-bottom: 20px;
}

.sumire_communication li {
    margin-bottom: 10px;
}

.nursing_contact a {
    display: block;
    margin: 25px 0 0;
    padding: 10px;
    background: #b9659a;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 1.3;
    transition: all 0.3s;
}

.nursing_contact a:hover {
    opacity: 0.7;
    transition: all 0.3s;
}

.nursing_pdf ul {
    display: flex;
    flex-wrap: wrap;
}

.nursing_pdf li a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    background: #b9659a;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
}

.nursing_pdf li a:hover {
    opacity: 0.7;
    transition: all 0.3s;
}

@media (max-width: 991px) {
    .home_nursing_contents_wrap {
        width: 90%;
    }

    .home_nursing_contents01 figure img {
        width: 100%;
    }

    .home_nursing_contents01 p {
        padding: 20px 0;
    }

    .home_nursing_contents02 h3,
    .home_nursing_contents02 p,
    .home_nursing_contents02 dl,
    .home_nursing_contents03 h3,
    .home_nursing_contents03 figure,
    .home_nursing_contents03 p {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home_nursing_main dl {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .home_nursing_main dl {
        width: 90%;
    }
}

/*---------------------------------------
    about_us
---------------------------------------*/
.about_main {
    margin-bottom: 100px;
    background: url("./img/about/about_main.png") center center / cover no-repeat;
    overflow: hidden;
}

.about_main h2 {
    margin-top: 55px;
    padding: 10px;
    border-bottom: 1px solid #e76fa3;
    text-align: center;
    font-size: 120%;
}

.about_main h2 span {
    color: #097c25;
}

.philosophy {
    margin-top: 85px;
    margin-bottom: 65px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
}

.philosophy h3 {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
}

.philosophy dt {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
}

.philosophy dd {
    font-size: 14px;
}

.philosophy ul {
    margin-bottom: 40px;
}

.philosophy li {
    margin-top: 10px;
}

.philosophy small {
    display: block;
    text-align: right;
    font-size: 80%;
}

.about_main p {
    margin-bottom: 30px;
    font-size: 95%;
    line-height: 2;
    text-align: justify;
    text-shadow: 0px 0px 3px #fff;
}

.fact_head {
    margin-bottom: 8px !important;
    padding-left: 10px;
    font-weight: bold;
}

.fact_list {
    padding-bottom: 30px;
}

.fact_list li {
    font-size: 14px;
    line-height: 2;
}

.about_introduction a {
    display: block;
    padding: 10px 15px;
    border: 1px solid #e76fa3;
    color: #e76fa3;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
}

.about_introduction a:hover {
    background: #e76fa3;
    color: #fff;
}

.greeting h2 {
    margin-bottom: 55px;
    padding: 10px;
    border-bottom: 1px solid #e76fa3;
    color: #e76fa3;
    text-align: center;
}

.greeting h3 {
    margin-bottom: 30px;
    font-weight: bold;
}

.greeting dd {
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
}

.greeting dl {
    margin-bottom: 20px;
}

.greeting dt {
    text-align: center;
}

.greeting dt img {
    max-width: 90%;
}

.president_message p {
    margin-bottom: 30px;
    font-size: 15px;
    text-align: justify;
    line-height: 2;
}

.company_detail {
    display: flex;
    flex-wrap: wrap;
    clear: both;
    font-size: 14px;
}

.company_movie {
    overflow: hidden;
    clear: both;
    display: block;
    padding-top: 50px;
    margin-bottom: 70px;
}

.company_movie div {
    margin-bottom: 10px;
}

.greeting tr {
    border: 1px solid #fdabb9;
}

.greeting th {
    width: 30%;
    background: #feeaf2;
}

.company_detail th,
.company_detail td {
    padding: 15px;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .greeting .company_detail01 tr {
        border-right: none;
    }
}

@media (max-width: 767px) {
    .greeting .company_detail01 tr {
        border-bottom: none;
    }
}

/*---------------------------------------
    care
---------------------------------------*/
.care_main {
    background: url("./img/care/care_main.png") center center / cover no-repeat;
    overflow: hidden;
}

.care_main h2 {
    margin-top: 55px;
    padding: 10px;
    border-bottom: 1px solid #e76fa3;
    text-align: center;
    text-shadow: 0 0 4px #fff;
    font-size: 120%;
}

.care_main h2 span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.care_main p {
    padding: 30px 0 220px;
    font-size: 100%;
    text-align: center;
}

.care_main dl {
    margin-top: 85px;
    margin-bottom: 65px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
}

.care_main dt {
    margin-bottom: 15px;
    font-weight: bold;
}

.care_main dd {
    margin-bottom: 5px;
}

.care_contents {
    margin: 0 auto;
}

.care_contents h3 {
    clear: both;
    overflow: hidden;
    margin: 55px auto 70px;
    padding: 10px;
    border-bottom: 1px solid #e76fa3;
    color: #e76fa3;
    font-weight: bold;
    text-align: center;
}

.care_contents p {
    margin-bottom: 30px;
}

.care_contents li {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.4;
    list-style: decimal;
}

.care_case {
    margin-top: 30px;
    margin-bottom: 70px;
}

.care_case img {
    width: 100%;
}

.care_qa {
    margin-bottom: 70px;
    font-size: 15px;
    line-height: 2;
}

.care_qa dt {
    margin-bottom: 7px;
    color: #5776a1;
}

.care_qa dd {
    margin-bottom: 30px;
    line-height: 1.4;
}

.for_facility p {
    font-size: 15px;
    text-align: justify;
    line-height: 2;
}

.for_facility_image {
    margin-bottom: 70px;
}

.for_facility_image img {
    width: 100%;
}

.service_price01 th,
.service_price02 td {
    padding: 15px;
    background: #fabfd9;
}

.service_price01 td,
.service_price02 th {
    padding: 15px;
    background: #fde7ed;
}

.care_contact {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #e76fa3;
}

.care_contact th,
.care_contact td {
    padding: 5px;
}

.care_contact a {
    display: block;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #e76fa3;
    color: #e76fa3;
}

/*---------------------------------------
    shop
---------------------------------------*/
.shop_main h2 {
    margin: 70px auto;
    padding: 10px 0 20px;
    border-bottom: 1px solid #e76fa3;
    text-align: center;
}

.shop_main li {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.shop_main li a {
    display: block;
    border: 1px solid #FFD7EB;
    padding: 20px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s;
}

.shop_main li a:hover {
    opacity: 0.7;
}

.shop_main li img {
    width: 100%;
    height: auto;
}

.shop_main li a dt {
    padding-bottom: 20px;
}

.shop_underline {
    width: 100%;
}

.shop_main .shop_middle img {
    box-shadow: none !important;
}

@media (max-width: 990px) {
    .shop_middle {
        display: none;
    }
}

/*---------------------------------------
    shop list
---------------------------------------*/
.shop_list h2 {
    margin: 45px auto;
    padding: 10px;
    border-bottom: 1px solid #e76fa3;
    text-align: center;
}

.shop_list h3 {
    margin: 45px auto;
    padding: 10px;
    border-bottom: 1px dashed #e76fa3;
}

.shop_contents {
    margin-bottom: 30px;
    padding: 50px 25px;
    border: 1px solid #e76fa3;
    overflow: hidden;
}

.shop_icon {
    padding-bottom: 20px;
}

.shop_icon img {
    max-width: 100%;
}

.shop_name {
    margin: 0 auto 30px;
    font-size: 20px;
    font-weight: bold;
}

.shop_introduction {
    margin-bottom: 20px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.7;
}

.shop_contents li {
    margin-bottom: 5px;
}

.shop_postal_code {
    font-size: 12px;
}

.shop_address {
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 1.5;
}

.shop_number {
    font-size: 14px;
    line-height: 1.5;
}

.shop_image img {
    max-width: 100%;
}

@media (max-width: 767px) {
    .shop_icon {
        display: none;
    }
}

@media (max-width: 990px) {
    .shop_name {
        margin-top: 0;
    }
}

/*---------------------------------------
    Contact
---------------------------------------*/
.contact_wrap h2 {
    margin: 70px auto;
    padding: 10px 0 20px;
    border-bottom: 1px solid #e76fa3;
    text-align: center;
}

.contact_form span {
    display: inline-block;
    margin-bottom: 5px;
}

.contact_form p {
    text-align: center;
}

.contact_form input {
    padding: 0 20px;
    background: #fffdfe;
    border: 1px solid #ffcadf;
}

.contact_form span {
    float: left;
    clear: both;
}

.contact_form textarea {
    padding: 0 20px;
    background: #fffdfe;
    border: 1px solid #ffcadf;
}

.contact_submit {
    margin: 20px auto;
    text-align: center;
}

.contact_submit input {
    padding: 10px 40px;
    background: #e76fa3;
    border: none;
    color: #fff;
}

.contact_form label {
    padding: 0 20px;
}

.wpcf7-not-valid-tip {
    margin-top: 5px;
}

@media (max-width: 767px) {
    .contact_form label,
    .contact_form input,
    .contact_form textarea {
        width: 100% !important;
        padding: 0;
    }

    .contact_submit input {
        padding: 10px 40px;
    }
}

/*---------------------------------------
    recruit
---------------------------------------*/
.recruit_main {
    background: url("./img/recruit/recruit_main.png") center center / cover no-repeat;
    overflow: hidden;
}

.recruit_main h2 {
    margin-top: 55px;
    padding: 10px;
    border-bottom: 1px solid #e76fa3;
    text-align: center;
    text-shadow: 0 0 4px #fff;
    font-size: 120%;
}

.recruit_main dl {
    margin-top: 185px;
    margin-bottom: 65px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
}

.recruit_main dt {
    margin-bottom: 15px;
    font-weight: bold;
}

.recruit_main dd {
    line-height: 1.7;
}

.recruit_contents h3 {
    clear: both;
    overflow: hidden;
    margin: 55px auto 70px;
    padding: 10px;
    border-bottom: 1px solid #e76fa3;
    color: #e76fa3;
    font-weight: bold;
    text-align: center;
}

.recruit_contents img {
    width: 100%;
}

.recruit_contents th,
.recruit_contents td {
    padding: 15px;
    font-size: 15px;
    border: 1px solid #f664a5;
}

.recruit_contents th {
    background: #fde7ed;
}

.recruit_contact {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #e76fa3;
}

.recruit_contact p {
    margin: 10px 0;
}

.recruit_contact th,
.recruit_contact td {
    padding: 10px;
    font-size: 14px;
}

.recruit_contact a {
    display: block;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #e76fa3;
    color: #e76fa3;
}
